@inherits BXJG.Common.RCL.CommonBaseComponent

<div>
    <Menu Theme="MenuTheme.Dark"  Mode=MenuMode.Inline>
        @foreach (var item in menu.Items)
        {
            <MainMenuItem MenuItem="item" />
        }
    </Menu>
</div>
