@inherits BXJG.Common.RCL.CommonBaseComponent
@implements IDisposable
<div>
    <Menu Theme="MenuTheme.Dark" Mode=MenuMode.Inline>
        @foreach (var item in menu.Items)
        {
            <MainMenuItem MenuItem="item" />
        }

        <MenuItem Icon="dashboard">
            <MenuLink Href="/test">受保护的资源</MenuLink>
        </MenuItem>
    </Menu>
</div>
