@using Abp.Application.Navigation
@using Abp.Runtime.Session
@inherits LayoutComponentBase

@inject IAbpSession abpSession
@inject IUserNavigationManager abpNavManager

<layout>
    <AntDesign.ProLayout.BasicLayout Logo="@("https://gw.alipayobjects.com/zos/rmsportal/KDpgvguMpGfqaHPjicRK.svg")"
                                     MenuData="_menuData" FixedHeader="false">
        <RightContentRender>
            <RightContent />
        </RightContentRender>

        <ChildContent>
            <ReuseTabs  />
        </ChildContent>

        <FooterRender>
            <div style="color:#888;" class="ant-layout-footer">Copyright © 2021 变形精怪，power by <a href="https://antblazor.com/" target="_blank">Ant Design Blazor</a> / <a href="https://www.aspnetboilerplate.com/" target="_blank">abp</a>  </div>
            @* <FooterView Copyright="2021 Ant Design Blazor" Links="Links"></FooterView> *@
        </FooterRender>
    </AntDesign.ProLayout.BasicLayout>
    <SettingDrawer />
</layout>
@* 
@code {
    MenuDataItem[] _menuData = new MenuDataItem[]
    {
        new MenuDataItem
        {
            Key="home",
            Locale="zh-cn",
            Path="/",
            Name = "首页",
            Match = NavLinkMatch.Prefix
            //Authority = new string[]{  } 
        },
        new MenuDataItem
        {
            Key="test",
            Locale="zh-cn",
            Path="/test",
            Name = "测试", 
            Match = NavLinkMatch.Prefix,
        }
    };
} *@