/*@import 'http://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';*/
html, body, h1, h2, h3, h4, h5, h6, p, ul, li {
    padding: 0;
    margin: 0;
}

html, body {
    background-color: #aaa;
}

#loading {
    position: absolute;
    z-index: 9999;
    width: 100%;
    height: 100%;
    color: #e3f0fe;
    text-align: center;
    padding-top: 200px;
    background: #181e25 url(../img/loading.gif) no-repeat;
    background-position: center center;
}

#top_right {
    position: absolute;
    right: 10px;
    top: 10px;
}

#top_logo {
    line-height: 54px;
    color: #f7f7f7;
    font-size: 20px;
    padding-left: 10px;
    font-weight: bold;
    height: 100%;
    float: left;
}

/*当前患者*/
#global_patient_btn {
}

#global_patient_panel {
    width: 600px;
    padding: 15px;
}

.c-trans1, .c-trans1:hover, .c-trans1 > .panel-header {
    color: #e5e5e5;
    border-color: transparent;
    background: transparent;
}

a.c-trans1:hover {
    border-color: transparent;
    background: transparent;
    color: #fff;
}

.c-trans1 > .panel-body {
    border-color: transparent;
}

.c-trans1 > .dialog-toolbar, .c-trans1 > .dialog-button {
    border-left-color: transparent;
    border-right-color: transparent;
}

.c-trans1 > .dialog-button {
    border-bottom-color: transparent;
}

a.c-trans1 .m-btn-downarrow, a.c-trans1 .s-btn-downarrow {
    background: url("../img/bxjg3.png") no-repeat 3px -37px;
}

a.c-trans1:hover .m-btn-downarrow, a.c-trans1:hover .s-btn-downarrow {
    background-position-x1: -12px;
}

#main_menu_container {
}

.sidemenu .accordion {
    background: none;
}

    .sidemenu .accordion .panel-title {
        color: #b8c7ce;
        margin-left: 5px;
        font-weight: normal;
    }

    .sidemenu .accordion .accordion-header {
        background: #012941;
        color: #b8c7ce;
    }

    .sidemenu .accordion .accordion-body {
        background: #001321;
        color: #8aa4af;
    }

    .sidemenu .accordion .accordion-header-selected {
        background: #164456;
    }

    .sidemenu .accordion .accordion-header .panel-title:hover {
        color: #e3e3e3;
    }

    .sidemenu .accordion .accordion-header-selected .panel-title {
        color: #dedede;
    }

    .sidemenu .accordion .accordion-collapse {
        background: transparent;
    }

.sidemenu .tree-title {
    margin-left: 5px;
}

.sidemenu .tree-node-hover {
    background: transparent;
    color: #d3d3d3;
}

.sidemenu .tree-node-selected {
    /*background: #2c3b41;*/
    background: transparent;
    color: #d3d3d3;
    border-right: 0;
    border-left: 2px solid #00bbee;
    background-color: #000312;
}

.sidemenu .accordion-header .panel-icon {
    font-size: 16px;
    left1: 16px;
}

.sidemenu .accordion-header .panel-tool {
    display: none;
}

.sidemenu .accordion-header::after,
.sidemenu .tree-node-nonleaf::after {
    display: inline-block;
    vertical-align: top;
    border-style: solid;
    transform: rotate(45deg);
    width: 4px;
    height: 4px;
    content: '';
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -3px;
    border-width: 0 1px 1px 0;
}

.sidemenu .accordion-header-selected::after {
    transform: rotate(-135deg);
}

.sidemenu .tree-node-nonleaf::after {
    transform: rotate(-135deg);
}

.sidemenu .tree-node-nonleaf-collapsed::after {
    transform: rotate(45deg);
}

.sidemenu-collapsed .accordion-header::after {
    display: none;
}

.sidemenu-tooltip .accordion {
    border-color: #1e282c;
}















/*主tab背景色*/
#main_tabs > .tabs-header {
    background-color: #fff;
}
    /*主tab中的单个按钮样式*/
    #main_tabs > .tabs-header a.tabs-inner {
        border-bottom: 1px solid #e3e3e3;
        background-color: #fff;
    }
    /*当前选择的tab按钮样式*/
    #main_tabs > .tabs-header li.tabs-selected a.tabs-inner {
        background-color: #e3e3e3;
    }

#main_tabs > .tabs-panels > .panel > .panel-body {
    background-color: #e3e3e3;
    padding: 15px;
    padding-bottom: 0px;
}

#main_tabs > .tabs-header .tabs-first:first-of-type {
    margin-left: 30px;
}

    #main_tabs > .tabs-header .tabs-first:first-of-type .tabs-with-icon {
        padding-left: 13px;
    }

#main_tabs > .tabs-header .tabs-scroller-left {
    left: 30px;
}

#main_tabs > .tabs-header .tabs-scroller-left, .tabs-scroller-right {
    z-index: 8852;
}

#main_menu_togle {
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url("../img/bxjg3.png") no-repeat;
    background-position: -158px 0;
    position: absolute;
    z-index: 8852;
    top: 68px;
    left: 160px;
}




.window .window-header .panel-with-icon {
    padding-left: 22px;
}

.window .window-header .panel-title {
    font-weight1: normal;
}

.datagrid-header .datagrid-cell, .datagrid-header .datagrid-cell-group {
    font-weight: normal;
}

.form-container {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

    .form-container .row {
        min-height: 35px;
        min-width: 315px;
        margin: 4px 0;
        float: left; /*考虑用流布局*/
    }

        .form-container .row:first-child {
            padding-top1: 0;
        }

        .form-container .row > div:first-child, .form-container .row > label:first-child {
            display: inline-block;
            width: 8rem;
            text-align: right;
            margin-right: 8px;
        }

        .form-container .row > div:first-child {
        }

            .form-container .row > div:first-child i {
                position: relative;
                top: 3px;
                right: 5px;
                color: red;
            }

            .form-container .row > div:first-child label {
                width: auto;
                margin-right: 0;
            }

        .form-container .row label {
            line-height: 35px;
            display: inline-block;
            border1: 1px solid red;
        }

        .form-container .row > label:first-child {
        }

    .form-container .input1 {
        width: 170px;
    }

    .form-container .ck {
        margin-top: 0.5rem;
    }

.easyui-searchbox {
    width: 18rem;
}

.tishi {
    font-style: oblique;
    color: #c76405;
}

/*列表页开始----------------------------*/
.listpage-left {
    float: left;
    width: 200px;
    height: 100%;
    margin: 0 10px 0 0;
    overflow: auto;
    overflow: hidden;
}

.listpage-left-head {
    display: block;
    height: 46px;
    line-height: 46px;
    background: #fafafa;
    padding-left: 10px;
}

.listpage-left-content {
    border-top: solid 1px #dadada;
    background-color: #fdfdfd;
    height: 100%;
}

.listpage-right {
    height: 100%;
}

.datagrid-toolbar1 {
    background-color1: #eee;
    padding: 8px;
    overflow: hidden;
}
/*.datagrid-toolbar1 > a.l-btn {
        margin-right:5px;
    }*/


.toolbar_right {
    float: right;
}
/*列表页结束-------------*/


/*基于table的表单样式开始------------------*/
form.frm-container {
    display: block;
}

table.frm-box {
    width1: 94%;
    margin: 20px auto;
    border-collapse: collapse;
}

/*fieldset {
    width: 94%;
    margin: 0 auto;
    margin-top: 10px;
    border: 1px solid #ccc;
}

fieldset .frm-box {
    width: 100%;
    margin: 0px auto;
}
*/
.frm-box > tbody > tr > th {
    height: 40px;
    font-weight: normal;
    text-align: right;
    padding: 0 10px 0 15px;
    position: relative;
}

    .frm-box > tbody > tr > th i {
        position: relative;
        right: 5px;
        top: 3px;
        color: red;
    }


.frm-box > tbody > tr > td {
    padding-right1: 20px;
    border1: solid 1px #ddd;
}

.frm-box th.top {
    vertical-align: top;
    padding-top: 10px;
}

span.checkbox-item {
    display: inline-block;
    margin-top: 8px;
}
/*输入框默认宽度使用js重写默认属性值的方式*/
/*基于table的表单样式结束-----------*/


/*附件*/
.attachment {
}

/*重写easyui样式*/
.datagrid-row-selected {
    background-color: #ddd;
    color: #000;
}

/*图片上传*/
.imgUploader-container {
   min-height: 230px;
}

.imgUploader-images {
    height1: 200px;
    background-color: #f5f5f5;
    text-align: center;
    color: #aaa;
    overflow: hidden;
    padding: 10px;
}

.imgUploader-img-container {
    height: 180px;
    width: 150px;
    float: left;
    margin-right: 10px;
    position: relative;
    border:solid 1px #ccc;
    margin:0,10px 10px 0;
}
    .imgUploader-img-container a {
        position: absolute;
        right: -5px;
        top: -5px;
        background-color: red;
        border-radius: 50%;
        color: #fff;
        display:block;
        padding: 1px 5px;
        cursor:pointer;
    }
    .imgUploader-img-container img {
        width: 100%;
        height: 100%;
    }
    .imgUploader-img-container i {
        position: absolute;
        bottom: 0;
        display: block;
        text-align: center;
        width:100%;
        height:1.5rem;
        line-height:1.5rem;
        background-color: rgba(255, 255, 255, 0.9);
    }

.imgUploader-img-complete {
    color: #03b804;
}
.imgUploader-img-error {
    color:#e60303;
}
