@using Abp.Application.Navigation;
@inherits LayoutComponentBase
@inject IAbpSession abpSession
@inject IUserNavigationManager abpNavManager
<layout>
    <AntDesign.ProLayout.BasicLayout Logo="@("https://gw.alipayobjects.com/zos/rmsportal/KDpgvguMpGfqaHPjicRK.svg")"
                                     MenuData="_menuData" FixedHeader="false">
        <RightContentRender>
            <RightContent />
        </RightContentRender>

        <ChildContent>
            <ReuseTabs  />
        </ChildContent>

        <FooterRender>
            <div class="ant-layout-footer">Copyright © 2021 变形精怪，power by <a href="https://antblazor.com/" target="_blank">Ant Design Blazor</a> / <a href="https://www.aspnetboilerplate.com/" target="_blank">abp</a>  </div>
            @* <FooterView Copyright="2021 Ant Design Blazor" Links="Links"></FooterView> *@
        </FooterRender>
    </AntDesign.ProLayout.BasicLayout>
    <SettingDrawer />
</layout>