@*@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_CustAppLayout";
}

        <component type="typeof(ZLJ.Web.Customer.App)" render-mode="ServerPrerendered" />*@


@using Microsoft.AspNetCore.Components.Web
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />

    <!-- 需引用 BootstrapBlazor.FontAwesome 包 !-->
    @* <link rel="stylesheet" href="_content/ZLJ.Web.Admin.BootstrapServer/libs/font-awesome/css/font-awesome.min.css"> *@
    <link href="_content/BootstrapBlazor.FontAwesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="_content/BootstrapBlazor/css/bootstrap.blazor.bundle.min.css" rel="stylesheet">
    <link href="_content/BootstrapBlazor/css/motronic.min.css" rel="stylesheet">

    <link href="Zlj.Web.Host.styles.css" rel="stylesheet" />

    <link href="_content/ZLJ.Web.Admin.BootstrapServer/css/motronic.css" rel="stylesheet">
    <link href="_content/ZLJ.Web.Admin.BootstrapServer/css/site.css" rel="stylesheet">


@*     <link href="_content/ZLJ.Web.Admin.BootstrapServer/css/style.css" rel="stylesheet" /> *@
    <component type="typeof(HeadOutlet)" render-mode="Server" />
</head>
<body>
    <component type="typeof(ZLJ.Web.Admin.BootstrapServer.Shared.App)" render-mode="Server" />
    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            发生了错误。此应用程序在重新加载之前可能不再响应。
        </environment>
        <environment include="Development">
            发生了未处理的异常。有关详细信息，请参阅浏览器开发工具。
        </environment>
        <a href="" class="reload">刷新</a>
        <a class="dismiss">🗙</a>
    </div>
    <!-- 增加代码 !-->
    <script src="_content/BootstrapBlazor/js/bootstrap.blazor.bundle.min.js"></script>
    <script src="_framework/blazor.server.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/echarts/5.4.0/echarts.min.js"></script>
</body>
</html>
