@using ZLJ.Application.Common.Share.Session
@inject NavigationManager nav
@inherits OwningComponentBase

<Space @attributes=AdditionalAttributes Size="@("large")">
    @if (loginInformations!=default)
    {
        <SpaceItem>
            <Dropdown>
                <Overlay>
                    <Menu>
                        <MenuItem Icon="user" @key="1" OnClick="UserCenterClick" Style="padding-left:0.5rem;">个人中心</MenuItem>
                        <MenuItem Icon="logout" @key="2" OnClick="LogoutClick" Style="padding-left:0.5rem;">注销</MenuItem>
                    </Menu>
                </Overlay>
                <ChildContent>
                    <Avatar Size="small" Style="background-color:aqua; color:#333;">
                        @loginInformations.User.Surname
                    </Avatar>
                    <span style=" color:#eee;">
                        @(loginInformations.User.Surname + loginInformations.User.Name)
                    </span>
                </ChildContent>
            </Dropdown>
        </SpaceItem>
    }

    <SpaceItem>
        <Tooltip Placement="@Placement.Bottom" Title="在线人数">
            <Badge Size="small" Count="5" OverflowCount="99">
                <Icon Type="user-switch" Theme="outline" Style="color:#aaa;" />
            </Badge>
        </Tooltip>

    </SpaceItem>
</Space>
@code {
    [Parameter(CaptureUnmatchedValues = true)]
    public IDictionary<string, object>? AdditionalAttributes { get; set; }



    [Inject]
    public AppContainer AppContainer { get; set; }

    //bool isAuthed => loginInformations.User != default && loginInformations.User.Id > 0;
    GetCurrentLoginInformationsOutput loginInformations => AppContainer.CurrentLoginInformations;// new GetCurrentLoginInformationsOutput();
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        //isAuthed = (await authState.GetAuthenticationStateAsync()).User.Identity.IsAuthenticated;

        if (AppContainer.T1!=default)
       {     _ = AppContainer.T1.ContinueWith(tempTask =>
            {
                //loginInformations = AppContainer.CurrentLoginInformations;
                InvokeAsync(StateHasChanged);
            });
       }
    }
    void UserCenterClick()
    {
        nav.NavigateTo("/user-center");
    }

    void LogoutClick(MouseEventArgs e)
    {
        nav.NavigateTo("/account/logout", true);
    }
}
