@inherits BXJG.Common.RCL.CommonBaseComponent
@implements IDisposable
<div>
    <Menu Theme=MenuTheme.Dark Mode=MenuMode.Inline InlineCollapsed=Collapsed>
        @foreach (var item in menu.Items)
        {
            <MainMenuItem MenuItem="item" />
        }
        <MenuItem Key="test" Icon="dashboard">
            <MenuLink Href="/test">受保护的资源</MenuLink>
        </MenuItem>
    </Menu>
</div>

@* 折叠主菜单需要同时折叠布局中的Slide colosep和主菜单的Coseple属性
虽然主菜单通过按钮事件总线折叠，但layout是静态的
想到的第一个方式是通过url参数，但由于主菜单中的项不容易添加折叠参数
况且即使加了，页面中其他url也都得加，比较麻烦

另外一个方式是通过cookie来实现

最后一种方式是通过身份验证中使用的持久化对象来实现，它不仅仅是用于server和客户端切换，它在单纯的服务端部分任然有效
后期实现吧 *@