@page "/admin/post"

@using ZLJ.App.Admin.Post;
@using ZLJ.App.Admin.Post.Dto;

@attribute [TabItemOption(Text = "岗位角色")]
@attribute [Authorize(PermissionNames.AdministratorBaseInfoPost)]
@inherits AdminListBaseComponent<IPostAppService, PostDto, int, PagedAndSortedResultRequest< PagedPostResultRequestDto>, CreatePostDto, PostEditDto>

 @* " *@
<Table TItem="PostDto"
       IsBordered="true"
       IsFixedHeader="true"
       ShowSearch="true"
       ShowSearchText="true"
       SearchMode="SearchMode.Popup"
       CustomerSearchModel="this"
       PageItems="GetAllInput.MaxResultCount"
       style="height:800px;"
       ShowLoading="true"
       ShowSkeleton="false"
       AllowResizing="true"
       ShowColumnList="true"
       IsStriped="true"
       AllowDragColumn="true"
       OnQueryAsync="OnQuery"
       ShowToolbar="true"
       IsAutoQueryFirstRender="true"
       IsMultipleSelect="true"
       ShowResetButton="false"
       ShowRefresh="false"
       OnDeleteAsync="OnDeleteBatch" 
       ShowToastAfterSaveOrDeleteModel="false"
       ShowDeleteButton="deleteIsGranted"
       ShowExtendDeleteButton="deleteIsGranted"
       @ref="table"
       ShowLineNo="true"
       ShowExtendButtons="true"
       ExtendButtonColumnWidth="240"
       FixedExtendButtonsColumn="true"
       FixedMultipleColumn="true"
       IsPagination="true" 
       @bind-SelectedRows="SelectedItems"
       FixedLineNoColumn="true"
       ShowEditButton="false">
       
       <CustomerSearchTemplate>
            <BootstrapInput @bind-Value="GetAllInput.Filter.OuCode" ShowLabel="true" DisplayText="所属部门" />
       </CustomerSearchTemplate>

       @* 当不设置CustomerSearchModel和CustomerSearchTemplate时，它用来自定义搜索栏，不过我们用不着 *@
       <SearchTemplate>
          这个标签貌似没啥卵用了
       </SearchTemplate>


    <TableExtensionToolbarBeforeTemplate>
        <Button>右侧按钮前</Button>
    </TableExtensionToolbarBeforeTemplate>

    <TableExtensionToolbarTemplate>
        <Button>右侧按钮后</Button>
    </TableExtensionToolbarTemplate>


    <TableToolbarBeforeTemplate>
        <TableToolbarButton Color="Color.Primary"
                            Icon="fa-fw fa-solid fa-floppy-disk"
                            Text="插入10条随机数据" OnClick="AddRandomData"
                                        IsAsync />

     </TableToolbarBeforeTemplate>

     <TableToolbarTemplate>
         <TableToolbarButton Color="Color.Primary"
                             Icon="fa-fw fa-solid fa-floppy-disk"
                             Text="左侧按钮后"
                             IsAsync="true" />
     </TableToolbarTemplate>



     <TableColumns>
         <TableColumn @bind-Field="@context.Name" Sortable="true" DefaultSort="true" Fixed="true" Width="300" />
         <TableColumn @bind-Field="@context.DisplayName" Width="400" Sortable="true" />
         <TableColumn @bind-Field="@context.IsStatic" Width="400" Sortable="true" Searchable="true" />
         <TableColumn @bind-Field="@context.Description" Width="700" />

     </TableColumns>

     @* Table.ShowExtendButtons设置为true 显示行操作按钮
    Table.ExtendButtonColumnWidth 控制操作列的宽度
    修改、删除按钮可以单独控制是否显示
    BeforeRowButtonTemplate 模板在默认行操作按钮前加入更多按钮，RowButtonTemplate模板在行操作按钮后加入自定义按钮

    *@
     <BeforeRowButtonTemplate>
         <TableCellButton Color="Color.Warning" Icon="fa-solid fa-pen" OnClick="async()=>await ShowFailMessage()" Text="前按钮" />
     </BeforeRowButtonTemplate>
     <RowButtonTemplate>
         <TableCellButton Color="Color.Primary" Icon="fa-solid fa-pen" OnClick="async()=>await ShowSuccessMessage()" Text="后按钮" />
         @*  <TableCellButton Color="Color.Success" Icon="fa-solid fa-pen" Text="编辑"  />
        <TableCellButton Color="Color.Warning" Icon="fa-solid fa-pen" Text="权限"  />
        <TableCellButton Color="Color.Danger" Icon="fa-solid fa-pen" Text="审批"  />
        <TableCellPopconfirmButton Color="Color.Info" Icon="fa-solid fa-pen" Text="确认"  /> *@
     </RowButtonTemplate>
 </Table>