@using Microsoft.AspNetCore.Components.Sections
@using ZLJ.Application.Share.Post

@* 可能用弹窗或页面承载，所以核心组件不应该这样判断权限 *@
@* @attribute [Authorize(PermissionNames.AdministratorBaseInfoPost)] *@

@inherits AbpCreateBaseComponent<IPostAppService, PostDto, int, PagedAndSortedResultRequest< PagedPostResultRequestDto>, CreatePostDto, PostEditDto>

<Form @ref="validateForm" ValidateOnChange="true" Model="CreateDto" LabelColSpan="4" WrapperColSpan="20">
   @*  <FormItem Label="唯一名称">
        <Input @bind-Value="@context.Name" />
    </FormItem> *@
    <FormItem Label="显示名">
        <Input @bind-Value="@context.DisplayName" />
    </FormItem>
    <FormItem Label="备注">
        <Input @bind-Value="@context.Description" />
    </FormItem>
</Form>