@namespace BXJG.Common.RCL
@implements IAsyncDisposable
@inject IJSRuntime JS
@inherits OwningComponentBase

@* 不用使用这个组件，而是使用开源组件，请去github上搜索 blazor echarts *@

<div @ref="container" @attributes="InputAttributes"></div>
@code {
    private IJSObjectReference? module;

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> InputAttributes { get; set; }

    private ElementReference container;

    public ValueTask vt { get; private set; } = default;
    /// <summary>
    /// 可选的初始数据
    /// </summary>
    [Parameter]
    public object Option { get; set; } = new object();

    //public override Task SetParametersAsync(ParameterView parameters)
    //{
    //    if (parameters.TryGetValue<object>(nameof(Option), out var opt))
    //    {
    //        if (opt == null)
    //            opt = new { };

    //    }
    //    return base.SetParametersAsync(parameters);
    //}

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            module = await JS.InvokeAsync<IJSObjectReference>("import", "./_content/BXJG.Common.RCL/BXJGBlazorECharts.razor.js");
            vt = module.InvokeVoidAsync("init", container, Option);
            this.Option = default;
            await vt;
        }
    }

    public async Task SetOption(object option)
    {
        //await Task.Yield();
        // if (module != default )
        for (int i = 0; i < 500; i++)
        {
            if (vt != default && vt.IsCompleted)
                break;

            await Task.Delay(10);
        }
        //await Task.Yield(); //貌似这里根本没用,必须在调用地方去处理
        await module.InvokeVoidAsync("setOption", container, option);
    }

    public async ValueTask DisposeAsync()
    {
        if (module is not null)
        {
            vt = default;
            try
            {
                await module.InvokeVoidAsync("dispose", container);
            }
            catch (JSDisconnectedException) { }
            catch (ObjectDisposedException) { }
            try
            {
                await module.DisposeAsync();
            }
            catch (JSDisconnectedException) { }
            catch (ObjectDisposedException) { }
        }
    }
}