<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
            </customHeaders>
        </httpProtocol>
        <modules>
            <remove name="ApplicationRequestRouting" />
        </modules>
        <directoryBrowse enabled="true" />
        <handlers>
            <add name="静态文件映射" path="*.html, *.js, *.css, *.jpg, *.png, *.gif" verb="*" modules="StaticFileModule" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
