/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
html,
body,
#root,
#app,
app {
    height: 100%;
}

.colorWeak {
    filter: invert(80%);
}

.ant-layout {
    min-height: 100vh;
}

canvas {
    display: block;
}

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
    list-style: none;
}

@media (max-width: 480px) {
    .ant-table {
        width: 100%;
        overflow-x: auto;
    }

    .ant-table-thead > tr > th,
    .ant-table-tbody > tr > th,
    .ant-table-thead > tr > td,
    .ant-table-tbody > tr > td {
        white-space: pre;
    }

        .ant-table-thead > tr > th > span,
        .ant-table-tbody > tr > th > span,
        .ant-table-thead > tr > td > span,
        .ant-table-tbody > tr > td > span {
            display: block;
        }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    body .ant-design-pro > .ant-layout {
        min-height: 100vh;
    }
}

.ant-dropdown-menu-item .ant-menu-title-content {
    margin-left: 0.5rem;
}


.ant-table-row.even > td,
.ant-table-expanded-row.even > td {
    background-color: #f0f1ff !important;
    border-bottom: 1px solid #dfdfdf !important;
    border-top1: 1px solid #dfdfdf !important;
    border-left: 1px solid #dfdfdf !important;
}




.ant-table-row.odd td.ant-table-column-sort {
    background-color: white;
}

/*.ant-modal-body {
    background-color:#f7f7f7;
}*/
.ant-descriptions-bordered .ant-descriptions-item-label {
    background-color: #f7f7f7;
}

.ant-descriptions-bordered .ant-descriptions-row {
    border-bottom-color: #eeeeee;
}

.ant-descriptions-item-label {
    text-align: end;
}


.full-width {
    width: 100%;
}

table.danbiankuang {
    border-collapse: collapse;
}

    table.danbiankuang td, table.danbiankuang th {
        border: 1px solid #ddd; /* 设置单边框样式 */
    }

table.jiange-xiao td, table.jiange-xiao th {
    padding: 3px;
}

table.jiange-zhong td, table.jiange-zhong th {
    padding: 7px;
}

table.jiange-da td, table.jiange-da th {
    padding: 12px;
}

table.jianjie th {
    font-weight: normal;
    background-color: #f8f8f8;
}


.yl .tou {
    color: black;
    font-weight: bold;
}
/*.yl .tou span:nth-child(2){
    font-weight:bold;
}*/

.yl td {
    padding: 0 0.5rem;
}

.yl .tou .cs {
   /* -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, red, green, blue);*/
   color:blue;
}

.yl td span:nth-child(1) {
    float: left;
}

.yl .ti td span:nth-child(1) {
    font-size: 0.7rem;
    line-height: 1.6rem;
    color: #888;
    /* writing-mode: vertical-rl;
    text-orientation: upright;
     letter-spacing: 18px;  设置间距 */
}

.yl td span:nth-child(2) {
    float: right;
}

.yl .ti td span:nth-child(2) {
    text-align: right;
    line-height: 1.6rem;
}

.yl .zong {
    text-align: center;
}

    .yl .zong span {
        display: block;
    }

.yl td.zong span:nth-child(1) {
    float: none;
    margin-top: -17px;
}

.yl td.zong span:nth-child(2) {
    float: none;
    font-size: 1.4rem;
}


.frm-dal .ant-modal-body {
    background-color: #efefef;
}
    .frm-dal .ant-modal-body .ant-collapse-borderless {
        background-color: transparent;
    }