
@model  ZLJ.BaseInfo.Job.Dto.JobEditDto
@{
    var m = "Job";
}
@*必须使用Html.Edit...以便生成客户端验证规则，可以自定义一个easyui的js验证适配器*@
<form id="frm@(m)" class="form-container">
    <div style="padding:20px 0 0 60px; ">
        @Html.HiddenFor(c => c.Id)
        <div class="row">
            @Html.LabelFor(c => c.Name, "* 岗位名称")
            @Html.TextBoxFor(c => c.Name, new {
           @class = "easyui-textbox input1",
           data_options= "required:true,validateOnCreate:false,validateOnBlur:true,validType:'length[0,30]'"})
        </div>
    </div>
</form>
<script>
    (function(){
        var m = '@(m)';
        var $frm = $('#frm'+m);
        var $dlg = $('#dlg'+m);
        var id = $dlg.data('id');

        if(id)
        {
            $.messager.progress();
            abp.services.app.job.get({id:id}).done(function (d) {
                $frm.form('load',{ Id:d.id,Name:d.name});
            }).always(function () {
                $.messager.progress('close');
            });
        }

        //上面的方法若禁用验证事件可能不会执行，下面的办法假定200毫秒textbox控件可以初始化完成
        setTimeout(function(){
            $frm.find('#Name').next('span').find('input').focus();
        }, 200);

        $dlg.data('clickSave', function () {
            if (!$frm.form('validate'))
                return;
            $.messager.progress();
            var postData = $frm.serializeJSON();
            var defer;
            if (id) {
                defer = abp.services.app.job.update(postData).done(function (d) {
                    abp.notify.success(abp.localization.abp('Update') + abp.localization.abp('Success') + '!');
                });
            }
            else {
                postData.Id = 0;
                defer = abp.services.app.job.create(postData).done(function (d) {
                    abp.notify.success(abp.localization.abp('Add') + abp.localization.abp('Success') + '!');
                });
            }

            defer.done(function () {
                onSaved();
            }).always(function () {
                $.messager.progress('close');
            })
        });

        function onSaved() {
            var f = $dlg.data('onSaved');
            if (f)
                f();
        }
    })();
</script>

