@using ZLJ.Admin.CoreRCL.Share
<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    @* 新版本已经内嵌了 *@
    @* <link href="_content/AntDesign/css/ant-design-blazor.css" rel="stylesheet" /> *@
    @* <link href="_content/AntDesign.ProLayout/css/ant-design-pro-layout-blazor.css" rel="stylesheet" /> *@
    <link rel="stylesheet" href="ZLJ.Web.BlazorAuto.styles.css" />

    @* 下面这个引用不了，也没必要 *@
    @* <link href="_content/ZLJ.Admin.CoreRCL/css/site.css" rel="stylesheet"> *@

    <link href="/app.css" rel="stylesheet" />
    <HeadOutlet @rendermode="RenderModeForPage" />
</head>

<body>
    @* <div id="loadingDiv" style="display:block;">Loading...</div> *@
    <app>
        <Routes @rendermode="RenderModeForPage" />
    </app>

    @* 图表库，cdn经常访问不了 *@
    @* <script type="text/javascript" src="@("https://unpkg.com/@antv/g2plot@2.4.17/dist/g2plot.min.js")"></script> *@
    @* <script type="text/javascript" src="g2plot.min.js"></script> *@
    @* 新版本已经内嵌了 *@
    @* <script src="_content/AntDesign/js/ant-design-blazor.js"></script> *@
    @* <script src="_content/AntDesign.Charts/ant-design-charts-blazor.js"></script> *@
    <script src="_framework/blazor.web.js"></script>
    @* <script src="https://cdn.bootcdn.net/ajax/libs/echarts/5.4.3/echarts.min.js"></script> *@
    <script src="/echarts.5.4.3.min.js"></script>
    <script src="/app.js"></script>
    <script>
        //https://github.com/dotnet/aspnetcore/pull/53291
        //注意上面的blazor.web.js autostart="false"
        //经过测试，下面的测试没什么卵用
        // Blazor.start({
        //     webAssembly: {
        //         configureRuntime: (builder) => {
        //             builder.withConfig({
        //                 maxParallelDownloads: 1
        //             });
        //         },
        //     },
        // });
        // function hideLoadingDiv() {
        //     setTimeout(function () {
        //         console.log('xxxxxxxxxxxxxxxxxxx22222');
        //         //console.log(document.getElementById('loadingDiv'));
        //        // console.log(document.getElementById('thisApp'));

        //         console.log(document.getElementById('loadingDiv').style.display);
        //         //console.log(document.getElementById('thisApp').style.opacity);

        //         document.getElementById('loadingDiv').style.display = 'none';

        //      //   document.getElementById('thisApp').style.opacity = 1;


        //     },1);
        // }
    </script>
</body>
</html>
@* @code{
    protected override void OnInitialized(){
    Console.WriteLine("xxxx===============================");
    }
} *@