@page "/auditing"
@rendermode @(new InteractiveAutoRenderMode(prerender: false))
@inherits AbpBaseComponent
@using ZLJ.Application.Share.Auditing

<Table @ref="table"
       TItem="AuditLogListDto"
       OnChange="OnChange"
       RemoteDataSource="true"
       DataSource="data" 
       Size="TableSize.Small" 
       Total="total" 
       ScrollX="2300"
       ScrollY="78.5vh"
       RowKey="x=>x.Id">

    <Selection Key="@(context.Id.ToString())" Width="60" />
    <PropertyColumn Property="c=>c.UserName" Sortable Width="200" />
     <PropertyColumn Property="c=>c.ClientName" Width="200" />
     <PropertyColumn Property="c=>c.ClientIpAddress" Width="200" />
     <PropertyColumn Property="c=>c.ServiceName" Sortable Width="200" />
     <PropertyColumn Property="c=>c.MethodName" Sortable Width="200" />
     <PropertyColumn Property="c=>c.Parameters" />
     <PropertyColumn Property="c=>c.ExecutionTime" Sortable Width="200" />
     <PropertyColumn Property="c=>c.ExecutionDuration" Sortable Width="150" />
     <PropertyColumn Property="c=>c.Exception" />
     <PropertyColumn Property="c=>c.BrowserInfo" />
 </Table>