@page "/settings"

@* 必须使用server模式 *@
@rendermode InteractiveServer
@inherits BaseComponent
@inject Abp.Localization.ILocalizationManager lm

仅以server模式渲染的页面

@foreach (var d in sds)
{
    <li>
        @d.DisplayName?.Localize(lm)
    </li>

}


@code {
    ISettingDefinitionManager sdm;
    IReadOnlyList<SettingDefinition> sds = new List<SettingDefinition>();
    protected override void OnInitialized()
    {
        base.OnInitialized();
        sdm = ScopedServices.GetRequiredService<ISettingDefinitionManager>();


        sds = sdm.GetAllSettingDefinitions();
    }
   
}
