@*对客户的用量统计后台管理可能也用的着，所以本应该封装到Web.Core项目中，并且按小组件的方式开发
但现在敢进度，现在直接全部写在这个页面里吧*@
@page "/admin"
@using ZLJ.App.Admin.Authorization.Permissions;
@using ZLJ.Web.Host.Shared
@attribute [ReuseTabsPage(Title = "控制台", Pin = true, Closable =false)]
@attribute [Authorize(PermissionNames.Administrator)]
@inherits AdminBaseComponent
@*@inject NavigationManager Navigation*@
sdfsdf

<Button OnClick="@ButtonClick" Type="@ButtonType.Primary">测试通知</Button>
@* <MudButton Variant="Variant.Filled" OnClick="baojingtongzh2">新增数据的弹窗测试</MudButton> *@