@page "/"
@attribute [ReuseTabsPageTitle( "控制台")]
@rendermode InteractiveServer
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<p>
    @count
</p>
<Button OnClick="ccc">
    测试
</Button>
首页


@code {
    int count;
    void ccc()
    {
        count++;
    }
}