@page "/main"
@attribute [ReuseTabsPage(Title = "控制台", Pin = true, Closable = false)]
@attribute [Authorize(PermissionNames.Administrator)]
@inherits BaseComponent


<br />
<a href="https://gitee.com/bxjg1987_admin/abp" target="_blank" style="color:red; font-weight:bold;">源码</a>
<br />
<Button OnClick="TestException">点击测试全局异常拦截</Button>
<br />


<Card Title="后端触发前端事件演示" Style="width:300px;">
   
    <Body>
      
        <Button OnClick="cfqdsj">让服务端触发前端GetAll事件</Button>
        <TreeSelectDataDictionary ParentName="pinpai" />
    </Body>
</Card>