@page "/"
@attribute [ReuseTabsPage(Title = "控制台", Pin = true, Closable = false)]
@inherits BaseComponent
<PageTitle>blazor全栈框架</PageTitle>


<br />
<a href="https://gitee.com/bxjg1987_admin/abp" target="_blank" style="color:red; font-weight:bold;">源码</a>
<br />
<br />


