@page "/"
@* @attribute [ReuseTabsPage(Title = "控制台", Pin = true, Closable = false)] *@
@inherits BaseComponent
<PageTitle>blazor全栈框架</PageTitle>


<br />
<a href="https://gitee.com/bxjg1987_admin/abp" target="_blank" style="color:red; font-weight:bold;">源码</a>
<br />
<br />


<h1>blazor auto模式</h1>
首次访问页面时，以server模式响应，所以页面会很快显示出来
<br />
然后后台会默默下载wasm文件，之后auto模式的组件会以客户端模式运行。
<br />
