@inherits LayoutComponentBase




<a href="/" >首页</a>
<a href="/test">测试</a>
<Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
    <a href="/account/logout">注销</a>

</Microsoft.AspNetCore.Components.Authorization.AuthorizeView>


@Body

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
