@rendermode InteractiveAuto
@page "/test"
@using BXJG.Common.Http
@attribute [Authorize("Administrator")]
@inject AuthenticationStateProvider authSP
@* @attribute [ReuseTabsPage(Title = "测试")] *@


<PageTitle>测试1111111</PageTitle>
<p>
    @count
</p>
<Button OnClick="ccc">
    测试
</Button>
accessToken：
@kkk
<br />
<br />
这个页面是auto模式(早期以server模式，后期以client模式运行)
<br />
同时登陆后才能看到，为了测试身份验证。
<br />
F12查看浏览器日志，以确定它是否在浏览器种执行
@code{
    string kkk=string.Empty;
    int count;
    async Task ccc(){
        Console.WriteLine(DateTime.Now.ToLongTimeString());
        var sdfsd = await authSP.GetAuthenticationStateAsync();
       kkk= sdfsd.User.Claims.SingleOrDefault(c => c.Type == "AccessToken")?.Value;

        count++;
    }
}
